{% extends 'layout.html.twig' %}

 {% block title %}
     Projet
 {% endblock %}

{% block content %}
    <div class="title-project">{{ project.title }}</div>
    <div class="container-fluid">
        <div class="row">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="col-9">
                    {% for picture in pictures %}
                            <div {% if picture.is_main == '1' %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                <div {% if picture.is_main == '1' %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                            <img src="/assets/images/{{ picture.name }}" class="d-block w-100 " alt="{{ picture.name }}">
                            </div>
                    {% endfor %}
                        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="name-promo">
        <div>{{ project.name }} </div>
        <div>Projet n°{{ project.type_of_project }}</div>
        <div>Promo: {{ project.promo }}</div>
    </div>
    <hr>
    <h4>Description</h4>
    <div class="description">{{ project.description }}</div>
{% endblock %}