{% extends 'layout.html.twig' %}

 {% block title %}
     {{ project.title }}
 {% endblock %}

{% block content %}
    <h1>Projets trouvés: {{ projectsFound|length }}</h1>
    <ul>
        {% for project in projectsFound %}
            <li>
                <a class="search-list" href="/admin/show/{{ project.id }}"> {{ project.title }}</a>
                <p> {{ project.description }}</p>
            </li>
            <div class="card-location"><img src="/assets/images/{{project.name}}"  alt="image test"></div>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
{% endblock %}