<div class="card">
    <a href="/Project/show/{{ project.id }}">
        <img src="/assets/images/{{project.name}}" class="card-img-top" alt="image test">
        <div class="card-body">
            <div class="card-text">
                <h3>{{ project.title }} (Projet {{ project.type_of_project }})</h3>
                <div class="promo-star">
                    <p class="promo">{{ project.promo }}</p>
                    {%  if project.is_favorite == 1%}
                        <i class="fas fa-star star"></i>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</div>
